<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <%= link_to "Vinos", wines_path %>
    <%= link_to "Cepas", strains_path %>
    <%= link_to "Catar", new_wine_path %>
    
  </div>
</nav>